<table>
<thead>
 <tr><td>
        id
  </td><td>
        First Name
  </td><td>
        Last Name
  </td>
</tr>
</thead>
<tbody>
{{#each person in controller.paginatedContent}}
 <tr><td>
        {{#link-to "person" person}}{{person.id}}{{/link-to}}
  </td><td>
        {{#link-to "person" person}}{{person.first_name}}{{/link-to}}
  </td><td>
        {{#link-to "person" person}}{{person.last_name}}{{/link-to}}
  </td>
</tr>
{{/each}}
</tbody>
</table>

{{pagination-links page=page num_pages=num_pages}}