<ul class="button-group">
  <li>{{#link-to "index" currentWhen="index" classNames="small button"}}List{{/link-to}}</li>
  <li>{{#link-to "name" currentWhen="name" classNames="small button"}}Name{{/link-to}}</li>
  <li>{{#link-to "persons" currentWhen="persons" classNames="small button"}}People{{/link-to}}</li>
  
</ul>