<table>
<tr>
  <td>This is for my people...</td>
</tr>

{{#each person in controller.paginatedContent}}
 <tr>
  <td>
        {{#link-to "person.detail" person}}{{person.first_name}}{{/link-to}}
  </td>
</tr>
{{/each}}
</table>

{{pagination-links current_page=current_page num_pages=num_pages}}